.row {
    font-size: 0;
}

.square {
    width: 50;
    height: 50;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 2;
    font-size: initial;
    background-color: lightgrey;
}

.square.target.marked {
    background-color: blue !important;
}

.square.trap.marked {
    background-color: red !important;
}
